@model lab7.Models.Invoice

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>OrderDetails</h1>

<div>
    <h4>Ordered Songs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress),
            @Html.DisplayFor(model => model.BillingCity),
            @Html.DisplayFor(model => model.BillingState),
            @Html.DisplayFor(model => model.BillingCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>


        <dt class="col-sm-2">Ordered Songs</dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Track Id
                        </th>
                        <th>
                            Track
                        </th>
                        <th>
                            Price
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InvoiceLines)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrackId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Track.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice),
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="MyOrders">Back to List</a>
</div>
